body{

margin:0;
font-family:Arial;
background:#f5f7fb;

}


nav{

background:#2563eb;
color:white;
padding:20px;
display:flex;
justify-content:space-between;

}


nav a{

color:white;
text-decoration:none;
margin:10px;

}


.hero{

background:white;
text-align:center;
padding:60px;

}


.hero h1{

font-size:40px;
color:#2563eb;

}


.product{

background:white;
margin:20px;
padding:20px;
border-radius:15px;
box-shadow:0 5px 15px #ddd;

}


button{

background:#2563eb;
color:white;
border:0;
padding:12px;
border-radius:8px;

}


footer{

background:#111827;
color:white;
padding:20px;
text-align:center;

} 
